<h3>Editar Clase</h3>



<div class="card">
    <div class="card-body">
        <form [formGroup]="formulario" (ngSubmit)="editarClase()">
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre del clase</mat-label>
                        <input matInput formControlName="nombre">
                    </mat-form-field>
                </div>
        
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Descripcion de la clase</mat-label>
                        <input  matInput formControlName="descripcion">
                    </mat-form-field>
                
                </div>
        
                <div class="col-md-12">
                    <button mat-raised-button color="primary" type="submit" class="fill">Editar clase</button>
                </div>
            </div>
        </form>
    </div>
  </div>

  
